/* MATERIALIZE VARIABLE*/
/* FONTS*/
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");
@media only screen and (max-width: 600px) {
  /* MOBILE */
  .home-item-img-small {
    display: inherit; }
    .home-item-img-small img {
      height: 130px; }

  #home-background {
    top: -56px; }
    #home-background #logo-header {
      height: 110px; }
    #home-background #header-quote {
      font-size: 30px !important; }
    #home-background #header-items {
      width: 320px; }

  #home-container #connectbx-logo {
    width: 100%; }

  #newsletters-container .card {
    padding: 15px 15px 5px; }
  #newsletters-container .card-content {
    padding: 0; }
    #newsletters-container .card-content button {
      width: 100%; } }
@media only screen and (min-width: 993px) {
  /* SCREEN */
  .home-item-img-small {
    display: none; }

  #home-background {
    top: -64px; }
    #home-background #logo-header {
      height: 300px; }
    #home-background #header-quote {
      font-size: 60px !important; }
    #home-background #header-items {
      width: 800px; }

  #home-container #connectbx-logo {
    height: 175px; }
  #home-container img {
    height: 375px; }

  #newsletters-container .card {
    padding: 50px 50px 25px; } }
@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* ON MEDIUM */
  .home-item-img-small {
    display: none; }

  #home-container img {
    height: 250px; }

  #home-background {
    top: -64px; }
    #home-background #header-items {
      width: 600px; }

  #logo-header {
    height: 200px; } }
.home-navbar-transparent .navbar-fixed .green {
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.navbar-fixed .green {
  -webkit-transition: all .6s;
  transition: all .6s; }

#about-connectbx {
  margin-bottom: 100px; }

#header-items {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

#header-quote {
  font-size: 60px !important;
  font-family: arial, sans-serif;
  color: #ffffff; }

#home-container {
  font-size: 21px; }
  #home-container .home-item {
    padding: 50px 0 100px; }
    #home-container .home-item .home-title, #home-container .home-item .home-title-green::after, #home-container .home-item .home-title-white::after {
      content: '';
      display: block;
      width: 15%;
      padding-top: 5px; }
    #home-container .home-item .home-title-green::after {
      border-bottom: 3px solid #ffffff; }
    #home-container .home-item .home-title-white::after {
      border-bottom: 3px solid #4CAF50; }
  #home-container a, #home-container h2 {
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  #home-container a:hover, #home-container a:active, #home-container a:focus,
  #home-container h2:hover, #home-container h2:active, #home-container h2:focus {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  #home-container .green-background {
    background-color: #4CAF50; }

.text-center-parallax-left {
  height: 150px; }

#home-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  display: block;
  position: relative;
  height: 100vh;
  background-image: url("../img/home-background.jpg"); }

#arrow-bottom {
  position: absolute;
  height: 87.5px;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
  -webkit-animation: arrow-below 4s infinite;
          animation: arrow-below 4s infinite; }

@-webkit-keyframes arrow-below {
  0% {
    bottom: 30px;
    opacity: 1; }
  55% {
    bottom: 30px;
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 0; }
  60.01% {
    bottom: 60px;
    opacity: 0; }
  65% {
    bottom: 30px;
    opacity: 1; }
  100% {
    bottom: 30px;
    opacity: 1; } }

@keyframes arrow-below {
  0% {
    bottom: 30px;
    opacity: 1; }
  55% {
    bottom: 30px;
    opacity: 1; }
  60% {
    bottom: 0;
    opacity: 0; }
  60.01% {
    bottom: 60px;
    opacity: 0; }
  65% {
    bottom: 30px;
    opacity: 1; }
  100% {
    bottom: 30px;
    opacity: 1; } }
.home-item-image-container {
  position: relative; }
  .home-item-image-container #home-image-item-map {
    position: absolute;
    height: 475px !important;
    border: 10px solid #4CAF50;
    top: -75px; }
  .home-item-image-container #home-image-item-event {
    position: absolute;
    height: 435px !important;
    border: 10px solid #4CAF50;
    left: 50%;
    -webkit-transform: translate(-70%, 0%);
            transform: translate(-70%, 0%);
    top: -150px; }

#newsletters-container {
  margin-bottom: 200px; }
  #newsletters-container .card-title {
    font-family: "Roboto Black", sans-serif; }

/* MATERIALIZE VARIABLE*/
/* FONTS*/
#html-map, #body-map {
  height: 100%;
  margin: 0;
  padding: 0; }

#map, #map-parent {
  position: absolute;
  width: 100%; }

#map-parent {
  min-height: 100%; }

#map {
  top: 64px;
  min-height: calc(100% - 64px); }
  @media only screen and (max-width: 992px) {
    #map {
      top: 56px;
      min-height: calc(100% - 56px); } }

#filters {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  width: calc(100% - 350px);
  max-width: 850px; }
  @media only screen and (max-width: 992px) {
    #filters {
      width: 100%; } }

.map-container {
  margin: 25px; }
  @media only screen and (max-width: 992px) {
    .map-container {
      margin: 5px; } }

#association-details-container {
  display: inherit;
  height: calc(100% - 64px - 45px);
  position: absolute;
  bottom: 45px;
  left: 0;
  background-color: #ffffff;
  width: 350px;
  overflow-y: scroll; }
  @media only screen and (max-width: 992px) {
    #association-details-container {
      display: none; } }

@media only screen and (min-width: 601px) {
  .m-valign-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.card-content {
  padding-bottom: 0 !important; }

.collapsible, .collapsible-header {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 0 10px !important; }

#association-detail {
  margin-top: 10px; }

#show-list {
  position: absolute;
  width: 350px;
  height: 45px;
  bottom: 0; }
  @media only screen and (max-width: 992px) {
    #show-list {
      display: none; } }

#list-association {
  position: absolute;
  top: 100%; }
  #list-association .info {
    font-size: 13px;
    border-right: 1px solid #bfc1c1; }
  #list-association .description {
    line-height: 30px; }

#info-window-details {
  display: none; }
  @media only screen and (max-width: 992px) {
    #info-window-details {
      display: inherit; } }

#association-details-container {
  display: inherit; }
  @media only screen and (max-width: 992px) {
    #association-details-container {
      display: none; } }

#association-details {
  padding: 25px 15px 25px 15px;
  font-size: 14px; }
  #association-details #init-message {
    margin-top: 25vh;
    font-family: "Roboto Black", sans-serif;
    font-size: 18px;
    color: #4CAF50;
    line-height: 45px; }
  #association-details p {
    font-family: "Roboto Light", sans-serif;
    line-height: 30px; }
  #association-details .name {
    color: #4CAF50; }
  #association-details .description {
    padding-bottom: 20px; }
  #association-details .theme, #association-details .website {
    font-style: italic; }

#select-districts-container .dropdown-content li > a, #select-districts-container .dropdown-content li > span, #select-themes-container .dropdown-content li > a, #select-themes-container .dropdown-content li > span {
  font-size: 13px; }

/* MATERIALIZE VARIABLE*/
/* FONTS*/
#events .card .card-title {
  font-family: "Roboto Black",sans-serif;
  color: #4CAF50; }
#events .card p {
  font-family: "Roboto Light",sans-serif;
  line-height: 30px; }
#events .card .description {
  border-left: 2px solid #4CAF50; }
#events .card .card-action a, #events .card .card-action i {
  margin-left: 20px; }

/* MATERIALIZE VARIABLE*/
/* FONTS*/
#about-container p {
  font-size: 16px;
  line-height: 35px;
  font-family: "Roboto Light", sans-serif; }
#about-container #intro {
  position: relative;
  height: 100vh;
  display: block;
  background-image: url("../img/about-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  padding-top: 20vh; }
  #about-container #intro p {
    font-size: 30px;
    line-height: 55px; }
  #about-container #intro span {
    color: #4CAF50;
    font-family: "Roboto Black", sans-serif; }
  #about-container #intro svg {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 90px; }
  @media only screen and (max-width: 992px) {
    #about-container #intro p {
      font-size: 25px;
      line-height: 40px; } }
  @media only screen and (max-width: 600px) {
    #about-container #intro {
      padding-top: 5vh; }
      #about-container #intro p {
        font-size: 16px;
        line-height: 40px; }
      #about-container #intro h1 {
        margin-top: 0; } }
#about-container #origin {
  padding: 10vh 10vw 8vh 10vw; }
  #about-container #origin p {
    padding-left: 30px;
    border-left: 2px solid #4CAF50;
    text-align: justify; }
  @media only screen and (max-width: 992px) {
    #about-container #origin .title {
      text-align: center; }
    #about-container #origin p {
      border-left: none;
      border-top: 2px solid green;
      padding: 15px; } }
  @media only screen and (max-width: 600px) {
    #about-container #origin {
      padding: 10vh 0 8vh 0; }
      #about-container #origin p {
        line-height: 30px; } }
#about-container #team {
  background-color: #4CAF50; }
  #about-container #team svg {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: 90px; }
  #about-container #team p {
    color: white; }
  #about-container #team #description img {
    margin-left: 5px;
    margin-right: 5px;
    border: 4px solid #A5D6A7;
    height: 150px;
    width: 150px; }
  @media only screen and (max-width: 992px) {
    #about-container #team #description img {
      height: 100px;
      width: 100px; } }
  @media only screen and (max-width: 600px) {
    #about-container #team #description img {
      height: 75px;
      width: 75px; } }
  @media only screen and (max-width: 992px) {
    #about-container #team img {
      height: 100px;
      width: 100px; } }
  @media only screen and (max-width: 600px) {
    #about-container #team img {
      height: 75px;
      width: 75px; } }
#about-container #now {
  padding: 8vh 4vh 8vh 4vh; }
  #about-container #now #tools {
    padding-top: 3vh;
    padding-bottom: 3vh; }
  #about-container #now .card-panel p {
    text-align: justify; }
  #about-container #now .card-panel img {
    height: 75px;
    width: 75px; }
  @media only screen and (min-width: 993px) {
    #about-container #now .card-panel {
      padding-top: 50px;
      height: 375px; } }
  @media only screen and (max-width: 992px) {
    #about-container #now .card-panel {
      height: 225px; } }
  @media only screen and (max-width: 600px) {
    #about-container #now {
      padding: 8vh 0 8vh 0; }
      #about-container #now .card-panel {
        height: 350px; }
      #about-container #now .now-raw-text {
        padding: 8vh 4vh 8vh 4vh; } }
#about-container #you {
  margin: 0 150px 200px 150px;
  padding: 30px;
  border: 2px solid #4CAF50; }
@media only screen and (max-width: 992px) {
  #about-container #you {
    margin: 0 0 100px 0;
    padding: 10px 15px; } }

/***
  GENERAL RULES
***/
/* Brand logo img */
@media screen and (min-width: 600px) {
  /* SCREEN */
  #brand-logo-img {
    height: 64px; } }
@media screen and (max-width: 600px) {
  /* MOBILE */
  #brand-logo-img {
    height: 56px; } }
#brand-logo-img {
  padding: 10px 10px 10px 20px; }

#brand-logo-mobile-menu {
  height: 128px; }

/*Footer always on the bottom*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  body main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

a {
  color: #4caf50; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredericka the Great', cursive; }

/* label focus color */
.input-field input:focus + label {
  color: #4CAF50 !important; }

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #4CAF50 !important;
  -webkit-box-shadow: 0 1px 0 0 #4CAF50 !important;
          box-shadow: 0 1px 0 0 #4CAF50 !important; }
